<!DOCTYPE html>
<html ng-app="myApp" ng-app lang="en">
<head>
	<title>Tubbi - Where to find good Chinese Food</title>
    <meta charset="utf-8">
<!--       stylesheet-->
        <link href="css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="css/Tasty_Talks_v0.0.15.css">
		<!-- Jquery scr -->
		<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>		
		<!-- Google maps -->
		
			<!-- Web speech src --> 
		<script src = "webspeech.js"> </script>		
</head>
<body>
<div class="navbar navbar-default" id="navbar">
    <div class="container" id="navbar-container">
    <div class="navbar-header">
        <a href="http://angularcode.com" class="navbar-brand">
            <small>
                <i class="glyphicon glyphicon-log-out"></i>
                AngularCode / AngularJS Demos 
            </small>
        </a>
        
    </div>
    <div class="navbar-header pull-right" role="navigation">
        <a href="http://angularcode.com/angularjs-datagrid-paging-sorting-filter-using-php-and-mysql/" class="btn btn-sm btn-danger nav-button-margin"> <i class="glyphicon glyphicon-book"></i>&nbsp;Tutorial Link</a>
        <a href="http://angularcode.com/download-link/?url=https://app.box.com/s/kyomkfyeb42irie6rxcl" class="btn btn-sm btn-warning nav-button-margin"> <i class="glyphicon glyphicon-download"></i>&nbsp;Download Project</a>
    </div>
    </div>
</div>


<div ng-controller="customersCrtl">
<div class="container">
<br/>
<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
        <li><a href="">Language</a></li>
        <li><a href="">home</a></li>
        <li><a href="">home</a></li>
        <li class="navbar-fixed-right"><a href="">home</a></li>
    </ul>
</nav>
<div class="jombotron">
    <h1>Tubbi</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam eum saepe dolor quisquam, earum eius minus omnis repellat sit voluptate. Repellat ipsa dicta qui fugiat quaerat ratione! Saepe, ad ipsa?</p>
    <p>Id enim voluptatum cumque, labore. Aut, sequi minus, incidunt dolor totam corrupti ea quidem deleniti, laborum id ipsum nesciunt odit. Voluptatum dolor aliquam, voluptas, magnam officia quidem voluptate quia cumque.</p>
    <p>Qui, provident tempore amet dignissimos mollitia! Saepe deserunt, neque odit reiciendis quibusdam amet laudantium dolor doloribus cupiditate unde accusantium tempore hic adipisci voluptate omnis a quod labore veniam. Iure, error.</p>
    <p>Facere voluptates, nobis, ipsam ratione aliquam delectus esse quisquam eius repellendus, dicta laudantium magnam dolore perferendis maxime cumque. Alias sequi, consequuntur suscipit modi animi exercitationem aspernatur dolore dicta architecto. Ad!</p>
    <a href="" class="btn btn-info btn-lg">test</a>
</div>

  <nav>  <ul class="nav nav-pills nav-justified">
        <li class="active"><a href="">Schezwan</a></li>
        <li><a href="about.html">Taiwanese</a></li>
        <li><a href="">Beijing</a></li>
        <li><a href="">Cantonese</a></li>
      </ul>
</nav>
    
<br/>
    <div class="row">
        <div class="col-md-2">PageSize:
            <select ng-model="entryLimit" class="form-control">
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>50</option>
                <option>100</option>
            </select>
        </div>
        <div class="col-md-3">Filter:
            <input type="text" ng-model="search" ng-change="filter()" placeholder="Filter" class="form-control" />
        </div>
        <div class="col-md-4">
            <h5>Filtered {{ filtered.length }} of {{ totalItems}} total customers</h5>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-5"> Your Seach Result
        <div ng-show="filteredItems > 0">
            <table class="result_table">
            <tbody>
                <table>
                <tr ng-repeat="data in filtered = (list | filter:search | orderBy : predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                    <td ><store></store></td>
                </table>
                </tr>
            </tbody>
                </table>
        </div>
        <div class="col-md-5" ng-show="filteredItems == 0">
            <div class="col-md-5">
                <h4>No customers found</h4>
            </div>
        </div>
        <div class="col-md-12" ng-show="filteredItems > 0">    
            <div pagination="" page="currentPage" on-select-page="setPage(page)" boundary-links="true" total-items="filteredItems" items-per-page="entryLimit" class="pagination-small" previous-text="&laquo;" next-text="&raquo;"></div>
         
        </div>
        
        </div>
        <div class="col-md-7">
            <P>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt magni voluptatibus, veniam praesentium obcaecati recusandae natus similique culpa? Quibusdam ea recusandae earum eveniet assumenda tempora nobis, pariatur rem ducimus consequuntur.</span>
                <span>Quasi maiores dolor doloribus soluta recusandae eaque voluptatem ex hic placeat dicta qui repellendus inventore aliquid alias similique, unde beatae esse repellat expedita quidem minus. Cum ut omnis fugiat ex!</span>
                <span>Eum beatae nam, quibusdam laudantium voluptas fugiat amet maxime consequatur sunt commodi hic, nulla tempore aut nemo quia officiis? Omnis quos facere rerum iure ab saepe doloribus necessitatibus, reprehenderit eveniet.</span>
                <span>Voluptatum quos quidem commodi maxime dolore illo porro, nesciunt iusto quam libero, non. Quidem, incidunt aut debitis vero alias, officiis impedit iusto unde voluptatem, rem optio fugit esse ullam eos!</span>
                <span>Quod necessitatibus optio explicabo cumque ea placeat blanditiis magnam non, temporibus laborum unde praesentium! Totam recusandae natus possimus quia iste quidem. Suscipit vel aspernatur provident alias magnam impedit maxime laboriosam!</span>
                <span>Doloribus qui adipisci rem sint eius commodi maxime fugit quisquam atque voluptate laborum rerum obcaecati recusandae, delectus aliquam, in pariatur, aut culpa! Amet dolor provident voluptatem ab, necessitatibus iste, illo.</span>
                <span>Cupiditate, recusandae, illo iure doloremque tenetur dicta reprehenderit voluptatum perspiciatis amet officia optio fuga quisquam minima quam sequi odio quibusdam magni quo architecto incidunt? Iure dolore temporibus saepe fuga possimus!</span>
                <span>Harum quisquam neque voluptatum, obcaecati laborum, nostrum ratione voluptate et, natus placeat fugit perferendis incidunt rerum libero magni eius qui? Porro ea blanditiis exercitationem soluta. Id, impedit dolores iure totam!</span>
                <span>Temporibus reprehenderit quaerat, voluptatem. Inventore tenetur tempore asperiores perspiciatis quae atque, culpa voluptatum doloremque eligendi explicabo voluptate cupiditate repellat obcaecati, tempora consequuntur quo laboriosam rem adipisci minus eius deleniti dolorum.</span>
                <span>Ex at perspiciatis nemo odio pariatur, dolorem dicta veniam quis eius. Quis totam, dolorem beatae expedita, aperiam consequatur? Aliquam doloremque, vitae minima ab fuga. Aut pariatur ex magni illum suscipit!</span>
                <span>Perspiciatis deserunt porro quae ipsum iusto libero voluptatum harum, rerum ut pariatur accusamus error, unde minus! Deleniti animi, voluptatibus nihil veniam, perferendis, dolorem fugit dolor sit quidem alias adipisci eos.</span>
                <span>Odit corporis quia ab, repellat dolores eius nesciunt, laudantium assumenda rem, a magni deleniti incidunt ipsum temporibus. Odit error inventore eos, consequatur quod fugiat itaque, laborum ipsa nihil, labore dolores?</span>
                <span>Harum alias illo consectetur at labore quaerat ducimus repellat quibusdam ratione omnis, corporis repudiandae laudantium architecto tenetur maiores itaque aut sapiente facilis totam accusamus quod. Assumenda error repellat velit ad.</span>
                <span>Nesciunt numquam illo eaque non enim temporibus libero recusandae, soluta perspiciatis voluptatem reiciendis nobis accusantium. Inventore veniam itaque, saepe beatae perspiciatis tempore error quae laboriosam quasi quas corporis doloremque! Iusto?</span>
                <span>Voluptas quisquam id repudiandae ratione omnis, asperiores, obcaecati odio a, blanditiis non hic expedita fugit. Pariatur molestiae eum amet! Illo praesentium est animi quod illum eligendi unde fugiat incidunt at!</span>
            </P>
        </div>
        </div>
</div>
</div>
<script src="js/angular.min.js"></script>
<script src="js/ui-bootstrap-tpls-0.10.0.min.js"></script>
<script src="app/app.js"></script>         
    </body>
</html>